<timeline flex="100">
        <timeline-event ng-repeat="event in careers" style="text-align: center";>
            <timeline-badge class="{{event.badgeClass}}">
                <i class="glyphicon {{event.badgeIconClass}}"></i>
            </timeline-badge>
            <timeline-panel class="{{event.badgeClass}}" style="background-color: #6C6C6B;">
                <timeline-heading>
                    <h3><b>{{event.title}}</b></h3>
                    <h5>{{event.period}}</h5>
                </timeline-heading>
                <p><h3>"{{event.content}}"</h3></p>
            </timeline-panel>
        </timeline-event>
    </timeline>