<div layout="row">
    <img flex="25" class="thumbnail" ng-src="{{ post.image || '/images/me1.jpg'}}" style="padding: 0;" />
    <div flex="75" style="margin-left: 2%;">
        <!-- <div>Software Engineer</div> -->
        <h2 class="double"> Software Engineer </h2>
        <!-- <span class="doubleUnderline">  Software Engineer  </span> -->
        <!-- <hr style="color: black"> -->
        <div style="font-size: smaller;">
            <ul>
                <li>
                    <p>
                        Professional experience of 5+ years in product development with different roles and responsibilities persued !
                    </p>
                </li>
                <li>
                    <p>
                        Javascript enthusiast, with a keen interest in the different JS frameworks available !
                    </p>
                </li>
                <li>
                    <p>
                        Likes exploring different technologies !
                    </p>
                </li>
                <li>
                    <p>
                        Also, passionate about technical mentoring & dialogues !
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr style="color: black">
<div layout="column">
    <!-- <hr flex="100" style="color: black; width: 100%; margin: 1% 1% 1% 0%;;"> -->
        <!-- <h2 style="padding: 0% 0% 0% 3%;">Proficiency :</h2> -->
        <h2 class="double">Proficiency :</h2>
        <!-- <span class="doubleUnderline">  Software Engineer  </span> -->
        <div ui-view="skillsView"></div>
    <hr flex="100" style="color: black; width: 100%; margin: 1% 1% 1% 0%;;">
        <!-- <h2 style="padding: 0% 0% 0% 3%;">Journey so far :</h2> -->
        <h2 class="double">Journey so far :</h2>
        <div ui-view="experience"></div>
    <hr flex="100" style="color: black; width: 100%; margin: 1% 1% 1% 0%;;">
    <h2 class="double">Qualification :</h2>
        <div ui-view="education"></div>
    <!-- <hr flex="100" style="color: black; width: 100%; margin: 1% 1% 1% 0%;;"> -->
    
</div>