<div style="font-size: smaller;">
<ul>
	<li>
		<p>
			MEAN stack - <b>Node JS, MongoDB, Angular JS </b> and other javascript frameworks.
			<b>( 7 / 10 )</b>
		</p>
	</li>
	<li>
		<p>
			Hands-on with <b> Polymer JS, React JS</b> as frontend frameworks.
			<b>( 6 / 10 )</b>
		</p>
	</li>
	<li>
		<p>
			<b>Databases -</b><br/>
			Mongo DB.<b>( 6 / 10 )</b><br/>
			Elasticsearch<br/>
			Redis
		</p>
	</li>
	<li>
		<p>
			Started <b>"coding"</b> career with <b>Core-Java</b> as server development expertise.<br/>
			Developed interest in <b>Apache Spark</b> and <b>Elasticsearch</b> along the jourey so far.
		</p>
	</li>
</ul>
</div>